.search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
    width: 100%;
 
}

.search-input {
    padding: 0.25rem;
    width: 10rem;
    font-size: 0.8rem;
}

.search-button {
    text-align: center;
    background-color: orange;
    /* border: 1px solid black; */
    border-radius: 7px;
    width: 5rem;
    padding: 0.5em;
    margin: 0 1rem;
    cursor: pointer;
}

.search-button p {
    cursor: pointer;
    color: white;
}